@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize,
.ui.form .capitalize,
.ui.form .field .capitalize {
  text-transform: capitalize;
}

.introduction-photos-frames,
#introduction-name::after {
  position: absolute;
}

#introduction,
#introduction-name,
#my-work {
  position: relative;
}

#introduction-name,
#my-work-heading,
#my-tech-heading {
  font-size: 4em;
}

#introduction {
  background: repeating-linear-gradient( 90deg, black, transparent 20%);
  min-height: 100vh;
  text-align: center;
}

#introduction-name {
  font-family: 'Righteous', cursive;
  word-spacing: 10px;
  letter-spacing: 20px;
  padding-left: 15px;
  margin: 1em;
}

#introduction-name::after {
  border: 5px solid;
  content: '';
  height: 1.25em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5.5em;
}

#introduction-body {
  font-family: cursive, sans-serif;
  margin: 1em 4px 2em 4px;
}

.introduction-photos {
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100px;
}

.rhombus {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.circle {
  -webkit-clip-path: circle();
  clip-path: circle();
}

.bevel {
  -webkit-clip-path: circle(56% at 50% 50%);
  clip-path: circle(56% at 50% 50%);
}

.triangle {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.blur-frame {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 10px;
}

@media screen and (min-width:500px) {
  #introduction-name {
    font-size: 7em;
    margin: 0.5em;
  }
  #introduction-name::after {
    width: 5em;
  }
  #introduction-body {
    font-size: 1.2em;
    line-height: 150%;
  }
}

@media screen and (min-width:1005px) {
  #introduction-name {
    margin: 0.75 0.5emem;
  }
  #introduction-name::after {
    width: 10em;
    height: 2em;
    border-width: 5px;
  }
  #introduction-body {
    width: 25em;
  }
}

#my-work {
  text-align: center;
  padding-bottom: 2em;
}

#my-work-cards {
  margin: 0;
  min-height: 90vh;
}

#my-work .my-work-card {
  opacity: 0;
  transform: translateY(50%);
  text-align: left;
  border-left: 5px solid;
  border-right: 5px solid;
}

#my-work .my-work-card:first-child {
  border-color: #db2828;
}

#my-work .my-work-card:nth-child(2) {
  border-color: #b5cc18;
}

#my-work .my-work-card:nth-child(3) {
  border-color: #00b5ad;
}

#my-work .my-work-card:nth-child(4) {
  border-color: #e03997;
}

#my-work .my-work-card:nth-child(5) {
  border-color: #a5673f;
}

#my-work .my-work-card:nth-child(6) {
  border-color: #fbbd08;
}

#my-work .my-work-card:hover,
#my-work .my-work-card:focus-within {
  border-color: black;
}

.my-work-btn {
  opacity: 0;
}

.show-my-work-card {
  -webkit-animation: fade-up 0.5s 1s forwards;
  animation: fade-up 0.5s 1s forwards;
}

@-webkit-keyframes fade-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.show-my-work-btn {
  -webkit-animation: fade 0.5s 1s forwards;
  animation: fade 0.5s 1s forwards;
}

@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  #my-work-cards>li {
    padding: 0 1em!important;
  }
}

@media only screen and (min-width: 767px) {
  #my-work li.my-work-card {
    margin: 2.5em;
  }
  #my-work-heading {
    position: absolute;
    font-size: 15em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#my-tech {
  text-align: center;
}

#my-tech-list {
  margin: auto;
  text-align: left;
}

#cta-to-message {
  margin: 2em auto;
}

@media screen and (min-width: 767px) {
  .ui.button {
    font-size: 1.15em;
  }
  #my-tech-heading {
    font-size: 7em;
  }
  #my-tech-list,
  #message-form {
    font-size: 1.25em;
  }
  #message-form button {
    font-size: 0.9em;
  }
}

#message-form {
  padding: 1em;
  margin: 1em auto;
  max-width: 500px;
}