/* Framework used - semanticUI (https://semantic-ui.com/)
No naming convention is used but below are some things to know.
The document is divided into sections (body's immediate childs) with a unique id representing their role,
their children's(immediate or not) id and classname are with the same convention, but with their parent id as suffix, 
e.g. section - #my-work, h2 (child) - #my-work-heading.
Id's of forms, buttons and links are named on their roles, irrespective of their parent, not same for their classnames.
Some utility classes are used like flex and uppercase.
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oleo+Script&family=Righteous&display=swap');
:root {
  --color1: #4b00ff;
  --color2: #eee;
  --color3: #393e46;
  --color-w: #fff;
  --color-b: #000;
  --form-changes-duration: 250ms;
  --para-font-family: 'Oleo Script', cursive;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: repeating-linear-gradient( 90deg, var(--color2), var(--color-w) 5%);
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: var(--color-b);
}

h2 {
  color: var(--color-w);
  text-shadow: 1px 2px 4px black;
}

.success {
  color: #00ff04;
}

.warning {
  color: #FFD700;
}

.btn,
.flex {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.none {
  display: none;
}

.ui.hide {
  opacity: 0;
}

.uppercase,
h1,
h2,
dt {
  text-transform: uppercase;
}

.capitalize,
.ui.form .capitalize,
.ui.form .field .capitalize,
h3::first-letter,
label,
.btn {
  text-transform: capitalize;
}

.btn {
  display: inline-flex;
  padding: 0.75em 1.5em;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.125em;
}

.btn>* {
  --duration: 0.25s;
  transition: transform var(--duration), opacity var(--duration);
}

.btn .hidden {
  position: absolute;
  opacity: 0;
  transform: scale(2);
}

.btn:hover {
  /* To override framework */
  color: var(--color-w);
  /**/
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.1);
}

.btn:hover .visible {
  opacity: 0;
  transform: scale(0.5);
}

.btn:hover .hidden {
  opacity: 1;
  transform: scale(1);
}

.blue.btn,
#cta-for-contact.position {
  background: var(--color1);
  color: var(--color-w);
}

.black.btn,
#contact-social-media {
  background: var(--color-b);
  color: var(--color-w);
}

.black.btn:hover {
  background-color: var(--color3);
}

#introduction,
#introduction-name,
#my-work {
  position: relative;
}

h1,
h2 {
  font-size: 4em;
}

section,
header,
footer {
  text-align: center;
}

#introduction {
  min-height: 100vh;
  padding-bottom: 1em;
}

#introduction-name {
  font-family: 'Righteous', cursive;
  letter-spacing: 20px;
  color: var(--color3);
  padding-left: 15px;
  margin: 1em;
  word-spacing: 10px;
  /* line-height: 125%; */
}

#introduction-name::after {
  border: 5px solid var(--color2);
  content: '';
  height: 1.25em;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5.5em;
}

#introduction-body {
  color: #00000080;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  font-size: 1.2em;
  font-family: var(--para-font-family);
  margin: 1em 4px 2em 4px;
}

#cta-for-contact {
  margin-top: 0.5em;
}

#my-work {
  margin-bottom: 8em;
  padding: 2em 0;
}

#my-work-carousel {
  position: relative;
  margin: 1em auto;
  height: 160px;
  max-width: 650px;
}

.my-work-carousel {
  opacity: 0;
  transform: translateY(50%);
}

.carousel-arrows.icon {
  color: var(--color1);
  font-size: 2em;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  position: absolute;
  z-index: 1;
}

.carousel-arrows:hover {
  cursor: pointer;
  -webkit-filter: none;
  filter: none;
}

#carousel-left-arrow {
  left: 5%;
}

#carousel-right-arrow {
  right: 5%;
}

#my-work-cards {
  list-style-type: none;
  max-width: 400px;
}

.my-work-card,
#my-tech-list,
#review-form,
#message-form {
  border: 2px solid var(--color1);
}

.my-work-card {
  background: var(--color-w);
  border-radius: 5px;
  width: 90%;
  max-width: 26em;
  opacity: 0;
  padding: 1em;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

.my-work-card a {
  color: #000;
}

.my-work-btn {
  opacity: 0;
}

.show .my-work-carousel {
  --delay: 0.1s;
  --duration: 0.5s;
  opacity: 1;
  transform: translateY(0);
  transition: transform var(--duration) var(--delay), opacity var(--duration) var(--delay);
}

.show .my-work-btn {
  opacity: 1;
  transition: opacity 0.5s 1s;
}

#about-me {
  margin: 8em auto;
  padding: 1em 1em 3em 1em;
  background: var(--color2);
  max-width: 750px;
  border-top: 2px solid var(--color1);
  border-bottom: 2px solid var(--color1);
}

#about-me-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#about-me-body {
  font-size: 1.1em;
  letter-spacing: 0.25px;
  line-height: 150%;
  word-spacing: 2px;
  color: var(--color3);
  text-align: justify;
}

#about-me-image {
  --edge: 16em;
  width: var(--edge);
  height: var(--edge);
  -o-object-fit: cover;
  object-fit: cover;
  border: 4px ridge var(--color2);
  border-radius: 100%;
}

#my-tech {
  margin-bottom: 8em;
}

#my-tech-list {
  background: var(--color-w);
  border-radius: 4px;
  font-size: 1em;
  margin: auto;
  max-width: 500px;
  text-align: left;
  width: 90%;
}

#my-tech-list dt:not(dt:first-of-type) {
  border-top: 0.5px solid #00000040;
}

dt {
  padding: 0.75em 1em;
  color: #00000060;
  font-weight: 600;
}

dt:hover,
button:hover {
  cursor: pointer;
}

dt:hover,
dt.active {
  color: var(--color-b);
}

dd {
  box-sizing: initial;
  line-height: 150%;
  word-spacing: 1px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 1em;
  transform: translateY(-10px);
  transition: max-height 0.5s, padding 0.5s, transform 0.5s, opacity 0.5s;
}

dt.active+dd {
  opacity: 1;
  transform: translateY(0);
  padding-bottom: 10px;
}

#cta-for-message-form {
  margin: 2em auto;
}

button {
  border: none;
}

.form button {
  padding: 0.625em 1em;
}

#contact-forms {
  margin: 1em auto;
  transition: height var(--form-changes-duration);
}

#review-form,
#message-form,
#change-form-btn {
  max-width: 500px;
  width: 90%;
}

#review-form,
#message-form {
  background: var(--color-w);
  margin: auto;
  padding: 1em;
}

.form {
  text-align: left;
  transition: opacity var(--form-changes-duration);
}

#contact-social-media {
  padding: 1em;
  margin-top: 4em;
  width: 100%;
}

#contact-social-media-list {
  flex-direction: row;
  font-size: 3em;
  gap: 5px;
  list-style-type: none;
  margin-top: 0.5em;
}

#contact-social-media a {
  color: var(--color1);
}

#contact-social-media a:hover,
#contact-social-media a:focus {
  color: var(--color-w);
}

#cta-for-contact.position {
  border: none;
  -webkit-filter: drop-shadow(2px 4px 6px var(--color));
  filter: drop-shadow(2px 4px 6px var(--color));
  bottom: 2%;
  position: fixed;
  right: 2%;
  z-index: 5;
}

.my-work-card.active {
  opacity: 1;
  z-index: 1;
}

.ui.message {
  background-color: #db2828;
  color: #fff;
}

#message-box {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 1em;
}

#message-box .message {
  padding: 10px 10px;
  margin: auto;
  margin-top: 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 0.75px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--color3);
}

@media screen and (min-width:500px) {
  #introduction-name {
    font-size: 7em;
    margin: 0.5em;
  }
  #introduction-name::after {
    width: 5em;
  }
  #introduction-body {
    font-size: 1.5em;
  }
  .carousel-arrows.icon {
    font-size: 3em;
  }
}

@media screen and (min-width:660px) {
  #about-me-body {
    width: calc(100% - 16em);
  }
}

@media screen and (min-width: 767px) {
  .my-work-card {
    margin: 2.5em;
  }
  #about-me {
    width: 90%;
    border: 2px solid var(--color1);
  }
  h2 {
    font-size: 5em;
  }
  #my-tech-list,
  #message-form,
  #review-form {
    font-size: 1.25em;
  }
  .form .btn {
    font-size: 0.9em;
    padding: 0.75em 1.5em;
  }
}

@media screen and (min-width:1005px) {
  #introduction-name::after {
    width: 10em;
    height: 0;
    border-width: 5px;
  }
  #introduction-body {
    width: 25em;
  }
}